repos:
  - repo: https://github.com/google/osv-scanner/
    rev: "v2.3.3"
    hooks:
      - id: osv-scanner
        args: ["scan", "source", "--recursive", "."]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse-lint-file

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.10.6"
    hooks:
      - id: uv-lock
      - id: uv-sync

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.2"
    hooks:
      - id: ruff-check
      - id: ruff-format
